<h2 class="mt-5 mb-4 text-center">Error Page</h2>
<hr />

<h5 class="mt-4">There was an error creating your account. Please try again!</h5>

<p class="h5 mt-2">@Html.ActionLink("Register", "Register", "Account")</p>